

.card {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 5px 9px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}

.card+.card {
  margin-left: 14px;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.card__header--costs-category {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.card__heading {
  font-family: "NHaasGrotesk", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600; 
  line-height: 15px;
}

.card__heading--larger {
  font-size: 17px;
}

.card__icon {
  display: block;
  max-height: 23px;
  max-width: 35px;
}

.card__body {
  flex-grow: 1;
}

.card__section {
  border-top: 1px solid rgba(32, 46, 59, .3);
  padding-top: 10px;
  box-sizing: border-box;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__paragraph {
  color: rgba(32, 46, 59, .8);
}

.card__paragraph--fs-small {
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.1px;
}

.card__value {
  font-family: 'NHaasGrotesk', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: #202E3B;
  -webkit-box-flex: 1 0 95px;
      -ms-flex: 1 0 95px;
          flex: 1 0 95px;
}  

.card--cost-decrease::before {
  display: inline-block;
  content: '';
  border-top: 8px solid #74cfb2;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 2px 8px 0 0;
  vertical-align: 40%;
}

.card--revenue::before {
  display: inline-block;
  content: "";
  background-image: url("../images/liver-icon.svg");
  background-size: 20px 16px;
  height: 16px;
  width: 20px;
  margin-right: 8px;
  vertical-align: 15%;
}

.card__subheading {
  font-family: 'NHaasGrotesk', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #b263a0;
  font-size: 12px;
}

.card__costs-label {
  font-size: 12px;
}

.card__costs-value {
  font-family: "NHaasGrotesk", Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.card__costs-line {
  display: flex;
  justify-content: space-between;
  line-height: 16px;
}

.card__costs-value--reimbursed {
  font-size: 11px;
}

.card__costs {
  border-top: 1px solid rgba(32, 46, 59, .3);
  border-bottom: 1px solid rgba(32, 46, 59, .3);
  padding: 5px 0;
  margin-top: 8px;
}

.card__circle-chart {
  display: flex;
  align-items: center;
  padding: 0 5px 15px 5px;
}

.card__circle-icon {
  max-width: 30px;
  max-height: 30px;
  margin-right: 5px;
}

.card__circle-value {
  font-size: 19px;
  font-family: "NHaasGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.card__lead {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  height: 45px;
  letter-spacing: -0.1px;
}

.hrz-graph {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;  
}

.hrz-graph__row {
  display: flex;
  align-items: center;

}
.hrz-graph__label {
  text-align: right;
  font-size: 12px;
  width: 32px;
  margin-right: 12px;
}
.hrz-graph__line {
  background-color: #b263a0;
  width: 150px;
  height: 3px;
}
.hrz-graph__value {
  margin-left: 12px;
  font-size: 19px;
  font-family: "NHaasGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

