@font-face {
  font-family: "NHaasGrotesk";
  src: url('../fonts/NHaasGrotesk/bold/NHaasGrotesk-Bd.woff') format('woff'),
       url('../fonts/NHaasGrotesk/bold/NHaasGrotesk-Bd.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: "NHaasGrotesk";
  src: url('../fonts/NHaasGrotesk/light/NHaasGrotesk-Lt.woff') format('woff'),
       url('../fonts/NHaasGrotesk/light/NHaasGrotesk-Lt.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: "NHaasGrotesk";
  src: url('../fonts/NHaasGrotesk/mediumbold/NHaasGrotesk-Md.woff') format('woff'),
       url('../fonts/NHaasGrotesk/mediumbold/NHaasGrotesk-Md.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: "NHaasGrotesk";
  src: url('../fonts/NHaasGrotesk/regular/NHaasGrotesk-Rg.woff') format('woff'),
       url('../fonts/NHaasGrotesk/regular/NHaasGrotesk-Rg.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "SFUIText";
  src: url('../fonts/SFUIText/regular/SFUIText-regular.woff') format('woff'),
       url('../fonts/SFUIText/regular/SFUIText-regular.woff2') format('woff2'),
       url('../fonts/SFUIText/regular/SFUIText-regular.ttf') format('truetype'),
       url('../fonts/SFUIText/regular/SFUIText-regular.svg') format('svg'),
       url('../fonts/SFUIText/regular/SFUIText-regular.eot') format('embedded-opentype');
  font-weight: 400;
}

@font-face {
  font-family: "SFUIText";
  src: url('../fonts/SFUIText/light/SFUIText-light.woff') format('woff'),
       url('../fonts/SFUIText/light/SFUIText-light.woff2') format('woff2'),
       url('../fonts/SFUIText/light/SFUIText-light.ttf') format('truetype'),
       url('../fonts/SFUIText/light/SFUIText-light.svg') format('svg'),
       url('../fonts/SFUIText/light/SFUIText-light.eot') format('embedded-opentype');
  font-weight: 200;
}

@font-face {
  font-family: "SFUIText";
  src: url('../fonts/SFUIText/semibold/SFUIText-semibold.woff') format('woff'),
       url('../fonts/SFUIText/semibold/SFUIText-semibold.woff2') format('woff2'),
       url('../fonts/SFUIText/semibold/SFUIText-semibold.ttf') format('truetype'),
       url('../fonts/SFUIText/semibold/SFUIText-semibold.svg') format('svg'),
       url('../fonts/SFUIText/semibold/SFUIText-semibold.eot') format('embedded-opentype');
  font-weight: 600;
}

