
.footer {
  border-top: 1px solid #b7babe;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px; 
  flex-grow: 1;
}

.footer__copyright {
  font-size: 11px;
  color: #202e3b;
  opacity: .6;
}
  
.footer__pages-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__pages-icon {
  max-width: 16px;
  height: 10px;
  margin-right: 15px;
}

.footer__pages-counter {
  font-family: 'NHaasGrotesk', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.footer__page-num {
  width: 8px;
  display: inline-block;
  text-align: right;
}

.footer__page-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 content;
          flex: 0 0 content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  width: 60px;
  height: 60px;  
  background-color: #2e5c9e;
  border: none;
  outline: none;
  cursor: pointer; 
}

.footer__button-arrow {
  height: 12px;
  width: 7px;
}

.footer__button-arrow_left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer__button+.footer__button {
  border-left: 1px ;
}


.footer__button + .footer__button {
  border-left: 1px solid rgba(255 , 255, 255, .3);
} 

