


.header {
  border-bottom: .5px solid #b7babe;
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: .5px solid #b7babe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58px;
  height: 58px;
}

.menu__line {
  width: 23px;
  height: 1px;
  background-color: #2e5c9e;
  box-sizing: border-box;
}

.menu__line + .menu__line {
  margin-top: 6px;
}


.header__central-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 22px;
}


.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__select {
  position: relative;
  top: 2px;
  margin-right: 22px;
}

.select__label {
  font-size: 11px;
  margin-right: 4px;
}

.select__icon {
  width: 11px;
  margin-right: 11px;
  padding-top: 2px;
}

.select__value {
  font-family: 'NHaasGrotesk';
  font-weight: 600;
  font-size: 13px;
  margin-right: 2px;
}

.select__value--larger {
font-size: 16px;
line-height: 16px;
}

.select__drop-icon {
  display: inline-block;
  position: relative;
  top: 1px;
}

.select__arrow {
  border-bottom: 4px solid #3a3d54;
  border-right: 2.5px solid transparent;
  border-left: 2.5px solid transparent;
  width: 5px;
  margin: 1px;
  box-sizing: border-box;
}

.select__arrow--larger {
  border-bottom-width: 5px;
  border-right-width: 3px;
  border-left-width: 3px;
}

.select__arrow--down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: .5px solid #b7babe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58px;
  height: 58px;
}

.info__icon {
  width: 20px;
}


