
.header {
  border-bottom: .5px solid #b7babe;
  height: 58px;
  display: flex;
}

  .menu {
    display: flex;
    border-right: .5px solid #b7babe;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
  }

  .menu__icon {
  }


    .menu__line {
      width: 23px;
      height: 1px;
      background-color: #2e5c9e;
      box-sizing: border-box;
    }

    .menu__line + .menu__line {
      margin-top: 6px;
    }

  .header__main-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding: 0 22px;
    
  }
  .scenario-select {
    display: flex;
    margin-right: 26px;
    align-items: baseline;
    position: relative;
    top: 2px;
  }

      .scenario-select__label {
        font-size: 11px;
        margin-right: 4px;
      }

      .scenario-select__value {
        font-family: 'NHaasGrotesk';
        font-weight: bold;
        font-size: 13px;
        margin-right: 2px;
      }

      .select__drop-icon {
        display: inline-block;
        position: relative;
        top: 1px;
      }

        .arrow {
          border-bottom: 4px solid #3a3d54;
          border-right: 2.5px solid transparent;
          border-left: 2.5px solid transparent;
          width: 5px;
          margin: 1px;
          box-sizing: border-box;
        }

        .arrow_larger {
          border-bottom-width: 5px;
          border-right-width: 3px;
          border-left-width: 3px;
        }

        .arrow_down {
          transform: rotate(180deg);
        }
        

  .users-select {
    display: flex;
    align-items: baseline;
  }

    .users-select__icon {
      width: 11px;
      margin-right: 11px;
      padding-top: 2px;
    }

    .users-select__value {
      font-family: 'NHaasGrotesk';
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
    }

  .info {
    display: flex;
    border-left: .5px solid #b7babe;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
  }

  .info__icon {
    width: 20px;
  }
