

.info-card {
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 43px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px;
  box-sizing: content-box;
  box-shadow: 5px 9px 30px rgba(0, 0, 0, 0.05);
}

.info-card_wider {
  width: 296px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 296px;
          flex: 0 0 296px;
}

.info-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.info-card__heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "NHaasGrotesk", Arial, sans-serif;
  font-size: 17px;
  font-weight: 600; 
}

.info-card__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 23px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.financial-icon {
  height: 23px;
}

.clinical-icon {
  height: 22px;
}

.quality-of-life-icon {
  height: 23px;
}

.info-card__section {
  border-top: 1px solid rgba(32, 46, 59, .3);
  padding-top: 10px;
  box-sizing: border-box;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-card__paragraph {
  display: inline-block;
  color: rgba(32, 46, 59, .8);
  min-width: 150px;
  max-width: 190px; 
}

.info-card__value {
  font-family: 'NHaasGrotesk', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #202E3B;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}  

.info-card_cost-decrease::before {
  display: inline-block;
  content: '';
  border-top: 8px solid #74cfb2;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 2px 8px 0 0;
  vertical-align: 70%;
}

.info-card_revenue::before {
  display: inline-block;
  content: "";
  background-image: url("../images/liver-icon.svg");
  background-size: 20px 16px;
  height: 16px;
  width: 20px;
  margin-right: 8px;
  vertical-align: 30%;
}


.info-card_key-assumptions {
  height: 308px;
  background-color: #ffffff;
  margin-right: 13px;
  -webkit-box-flex: 0 0 192px;
      -ms-flex: 0 0 192px;
          flex: 0 0 192px;
  padding: 16px;
  box-shadow: 5px 9px 30px rgba(0, 0, 0, 0.05);
}

.info-card_key-assumptions-horizontal {
  flex: 0 0 397px;
  height: 202px;
}

.info-card_key-assumptions-costs {

}