
.info-card_key-assumptions {
  height: 308px;
  background-color: #ffffff;
  margin-right: 13px;
  -webkit-box-flex: 0 0 192px;
      -ms-flex: 0 0 192px;
          flex: 0 0 192px;
  padding: 16px;
  box-shadow: 5px 9px 30px rgba(0, 0, 0, 0.05);
}

.info-card_key-assumptions-horizontal {
  flex: 0 0 397px;
  height: 202px;
}

.info-card_key-assumptions-costs {

}

