
.mainpage__header {
  margin-top: 17px;
  margin-bottom: 84px;
}

.mainpage__card {
  border-radius: 5px;
  margin-right: 43px;
}

.mainpage__card--wide {
  min-width: 296px;
  max-width: 300px;
}

.mainpage__card--cost-decrease::before {
  display: inline-block;
  content: '';
  border-top: 8px solid #74cfb2;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 2px 8px 0 0;
  vertical-align: 40%;
}

.mainpage__card--revenue::before {
  display: inline-block;
  content: "";
  background-image: url("../images/liver-icon.svg");
  background-size: 20px 16px;
  height: 16px;
  width: 20px;
  margin-right: 8px;
  vertical-align: 15%;
}