
/* Basic styles */


.page {
  background-color: #424C56;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "SFUIText", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  color: #202e3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__content {
  width: 1024px;
  height: 768px;
  background-color: #f7f9fc;
  position: relative;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
