
/* Basic styles */


.page {
  background-color: #424C56;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "SFUIText", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  color: #202e3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__content {
  width: 1024px;
  height: 768px;
  background-color: #f7f9fc;
  position: relative;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 35px 55px;
}

.page__heading {
  font-family: "NHaasGrotesk", Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 30px;
}

.info-card {
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 43px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px;
  box-sizing: content-box;
  box-shadow: 5px 9px 30px rgba(0, 0, 0, 0.05);
}